@charset "UTF-8";

@font-face {
    font-family: "Bricolage Grotesque Variable";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/BricolageGrotesque-VariableFont.ttf") format("truetype");
}

@-webkit-keyframes draw-rotate {
    from {
        stroke-dashoffset: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        stroke-dashoffset: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes draw-rotate {
    from {
        stroke-dashoffset: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        stroke-dashoffset: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes draw {
    from {
        stroke-dashoffset: 1;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw {
    from {
        stroke-dashoffset: 1;
    }

    to {
        stroke-dashoffset: 0;
    }
}

:root {
    --doc-height: 100%;
    --color-txt: #0dabab;
    --color-bg: #fff;
    --color-acc: #ff4747;
    --font-size: calc(5vw + 2rem);
    --medium-font-size: calc(2.5vw + 1rem);
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque 10pt', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
    background-color: var(--color-bg);
    color: var(--color-txt);
}

a {
    color: var(--color-txt);
}

em {
    font-style: italic;
}

section {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    font-size: var(--font-size);
    line-height: 100%;
}

.content-wrapper {
    height: var(--doc-height);
    background-image: url("../media/image.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 50%;
    background-position: 2rem -2rem;
}

.content {
    height: var(--doc-height);
    background-color: var(--color-bg);
    mix-blend-mode: lighten;
}

.content-list {
    width: 100%;
    position: relative;
    color: var(--color-txt);
    padding: 0 1rem;
    will-change: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 6s .25s ease-in-out;
    transition: -webkit-transform 6s .25s ease-in-out;
    -o-transition: transform 6s .25s ease-in-out;
    transition: transform 6s .25s ease-in-out;
    transition: transform 6s .25s ease-in-out, -webkit-transform 6s .25s ease-in-out;
}

.content-list::before {
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
    pointer-events: none;
    background-color: var(--color-txt);
    opacity: 0;
    -webkit-transition: opacity 1.25s ease;
    -o-transition: opacity 1.25s ease;
    transition: opacity 1.25s ease;
}

.content-list.title,
.content-list.contact {
    text-align: end;
}

.content-list.title h1,
.content-list.contact span {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.content-list.filler {
    height: inherit;
    padding: 0;
    background-color: var(--color-txt);
}

.divider {
    width: 100vw;
    position: relative;
    display: block;
}

.divider::after {
    content: "";
    width: 200%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
    pointer-events: none;
    background-color: var(--color-txt);
}

.divider:last-of-type:after {
    background-color: var(--color-acc);
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.layer .content {
    height: var(--doc-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    background-color: #ff4747cc
}

.layer .content-wrapper {
    height: var(--doc-height);
    width: 100vw;
}

.layer .content-list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: var(--medium-font-size);
    text-align: center;
    word-break: break-all;
}

.layer .content-list a {
    color: var(--color-bg);
}

.layer .content-list.close {
    position: relative;
    cursor: pointer;
}

.layer .content-list.close:last-of-type {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.layer .content-list.close svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 7.75rem;
    stroke: var(--color-bg);
    stroke-width: 1px;
    stroke-linecap: round;
    -webkit-transition: all 1.25s ease;
    -o-transition: all 1.25s ease;
    transition: all 1.25s ease;
}

.layer .content-list.close svg:hover {
    stroke: var(--color-bg);
    stroke-width: 4px;
    -webkit-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    transform: translateX(-4px);
}

.layer .word {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.circle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: solid 1px var(--color-bg);
    background-color: transparent;
    mix-blend-mode: lighten;
    cursor: pointer;
    -webkit-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    transition: background-color .25s ease;
    z-index: 10;
}

.circle svg {
    width: 7.75rem;
    stroke: var(--color-bg);
    stroke-width: 1px;
    stroke-miterlimit: 10;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    fill: transparent;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-transition: fill 1.25s ease;
    -o-transition: fill 1.25s ease;
    transition: fill 1.25s ease;
    animation: draw 6s ease-in-out alternate-reverse forwards infinite;
}

.circle svg.play {
    stroke: var(--color-bg);
    animation: draw-rotate 6s ease-in-out alternate-reverse forwards infinite;
}

.circle:hover>svg {
    fill: var(--color-bg);
    stroke-width: 2px;
}

footer {
    width: calc(100vw - 10rem);
    height: auto;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9rem;
    line-height: 1.2;
    font-weight: 500;
    text-align: end;
    z-index: 9;
}

footer p,
footer a,
footer a:visited,
footer a:focus {
    color: var(--color-bg);
}

footer a,
footer a:visited,
footer a:focus {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-color: var(--color-bg);
}

footer a:hover {
    text-decoration: line-through;
    text-underline-offset: 0;
}

@media screen and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    :root {
        --font-size: calc(3vw + 2rem);
    }

    .layer .content-list.close svg {
        width: 5.8rem;
        stroke-width: 1.5px;
    }

    .circle {
        width: 6rem;
        height: 6rem;
    }

    .circle svg {
        width: 5.8rem;
    }

    footer {
        font-size: .75rem;
    }

}

@media screen and (max-width: 720px) {
    :root {
        --font-size: 3rem;
        --medium-font-size: 1.25rem;
    }

    .content-wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
    }

    .layer .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .layer .content-wrapper {
        background-position: 75% 0;
    }

    .layer .content-list.close svg {
        width: 4.75rem;
        stroke-width: 3px;
    }

    .circle {
        width: 5rem;
        height: 5rem;
    }

    .circle svg {
        width: 4.75rem;
        stroke-width: 2px;
    }

    footer {
        font-size: .75rem;
    }
}