/* Need prefix */

:root {
    --doc-height: 100%;
    --color-txt: #0dabab;
    --color-bg: #fff;
    --color-acc: #ff4747;
    --font-size: calc(6vw + 3em);
    --svg-size: calc(1vw + 1em);
    --margin: 0 4rem;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Bricolage Grotesque 10pt', sans-serif;
    font-weight: 300;
    font-size: 80%;
    background-color: var(--color-bg);
    color: var(--color-txt);
}

a {
    color: var(--color-txt);
}

section {
    font-size: var(--font-size);
    line-height: 100%;
}

.content-wrapper {
    background-image: url("../media/image.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 50%;
    background-position: -2rem -2rem;
}

.scroll {
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 0;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.content {
    padding: var(--margin);
    background-color: var(--color-bg);
    mix-blend-mode: lighten;
    transition: all 1.25s .25s ease;
}

.content.background {
    background-color: transparent;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.layer .content-list {
    word-break: break-all;
}

.content-list {
    position: relative;
    will-change: transform;
    transform: translateZ(0);
    transition: transform 6s .25s ease-in-out;
}

.content-list.effect:hover {
    transform: translateX(15%);
}

.content-list.close {
    cursor: pointer;
}

.content-list.close svg {
    width: var(--svg-size);
    stroke: var(--color-txt);
    stroke-width: 1.5px;
    display: flex;
}

.content-list::after {
    content: "";
    width: 200%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    pointer-events: none;
    background-color: var(--color-txt);
}

.content-list::before {
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    pointer-events: none;
    background-color: var(--color-txt);
    opacity: 0;
    transition: opacity 1.25s ease;
}

.content-list.underline::before {
    opacity: 1;
}

.content-list.underline::after {
    content: "none";
}

.content-list h1,
.content-list a,
.content-list p {
    color: var(--color-txt);
    display: block;
    padding: 1.5rem 0;
}

.content-list h1 {
    cursor: pointer;
}

footer {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--color-bg);
    font-size: 1rem;
    line-height: 1.2;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: var(--margin);
    margin-bottom: 1rem;
    z-index: 9;
}

.circle {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: fixed;
    top: -4rem;
    right: -4rem;
    /* transform: translate(-50%, -50%); */
    border: solid 1px var(--color-txt);
    cursor: pointer;
    transition: all 1.25s ease;
}

.circle:hover {
    top: 0;
    right: 0;
    border-radius: 0%;
    background-color: var(--color-txt);
    mix-blend-mode: lighten;
}

@media screen and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    :root {
        --font-size: calc(4vw + 3em);
        --margin: 0 1rem;
    }

    .content-wrapper {
        pointer-events: none;
    }

    .content {
        pointer-events: all;
    }

    .layer .content {
        position: relative;
        background-color: transparent;
        mix-blend-mode: unset;
        height: var(--doc-height);
    }

    .layer .content::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-txt);
        mix-blend-mode: lighten;
        pointer-events: none;
    }

    .layer .content-list::after {
        background-color: var(--color-bg)
    }

    .layer .content-list p {
        color: var(--color-bg);
    }

    .content-list.effect:hover {
        transform: none;
    }

    .content-list.underline::before {
        opacity: 0;
    }

    .content-list.underline::after {
        content: "";
    }

    .content-list h1,
    .content-list a,
    .content-list p {
        padding: 1rem 0;
    }

    footer {
        font-size: .75rem;
        flex-direction: column;
        gap: .5rem;
        background-color: transparent;
        color: var(--color-bg);
    }

    .content-list.close svg {
        stroke: var(--color-bg);
        stroke-width: 3px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --font-size: calc(4vw + 3em);
        --margin: 0 1rem;
    }

    .content-wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        pointer-events: none;
    }

    .content {
        pointer-events: all;
    }

    .layer .content {
        position: relative;
        background-color: transparent;
        mix-blend-mode: unset;
        height: var(--doc-height);
    }

    .layer .content::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-txt);
        mix-blend-mode: lighten;
        pointer-events: none;
    }

    .layer .content-list::after {
        background-color: var(--color-bg)
    }

    .layer .content-list p {
        color: var(--color-bg);
    }

    .content-list.effect:hover {
        transform: none;
    }

    .content-list h1,
    .content-list a,
    .content-list p {
        padding: 1rem 0;
    }

    footer {
        font-size: .75rem;
        flex-direction: column;
        gap: .5rem;
        background-color: transparent;
        color: var(--color-bg);
    }

    .content-list.close svg {
        stroke: var(--color-bg);
        stroke-width: 3px;
    }
}